# Specify filepatterns you want git to ignore.

# TOTALLY LEGAL ROMs
*.gb

# Dumps & Logs
*.bmp
*log*.txt
*.dmp

# Sublime project files
*.sublime-*

# OS X debug symbols
*.dSYM

# Ignore executables and object files
demo
cputest
*.a
*.o
